<%- include("./partials/header"); -%>
    <h1>Compose</h1>
    <form clazss="" action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="PostTitle">
            <label>Post Content</label>
            <textarea class="form-control" name="PostContent" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

    <%- include("./partials/footer"); -%>